:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0f172a;
  background-color: #f1f5f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  font-family: inherit;
}

button:hover {
  transition: background-color 0.25s;
}

input:focus {
  outline: 2px solid #2563eb;
  outline-offset: -1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f1f5f9;
    background-color: #0f172a;
  }
  
  .word-list, .results {
    background: #1e293b !important;
  }
  
  .word-list li, .results li {
    background: #334155 !important;
  }
  
  input {
    background: #334155;
    color: #f1f5f9;
    border-color: #475569 !important;
  }
}
